service: genai-docgen

provider:
  name: aws
  runtime: nodejs22.x
  region: us-east-1
  environment:
    BUCKET_NAME: genai-doc-generate
    PINECONE_INDEX: llama-text-embed-v2-index
    PINECONE_API_KEY: ""
    GOOGLE_API_KEY: ""
  httpApi:
    cors: true

resources:
  Resources:
    MyUploadBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: genai-doc-generate
        CorsConfiguration:
          CorsRules:
            - AllowedHeaders:
                - "*"
              AllowedMethods:
                - GET
                - PUT
                - POST
                - DELETE
                - HEAD
              AllowedOrigins:
                - "http://localhost:3000" # For local development
                - "https://main.d3tw90xb23b9aa.amplifyapp.com"
              ExposedHeaders:
                - "ETag"

functions:
  getPresignedUrl:
    handler: handler.getPresignedUrl
    iam:
      role:
        statements: # Inline policy statements added to this function's dedicated role
          - Effect: Allow
            Action:
              - "*"
            Resource: "*"
    events:
      - httpApi:
          path: /api/getPresignedUrl
          method: GET

  generate:
    handler: handler.generate
    timeout: 300
    iam:
      role:
        statements: # Inline policy statements added to this function's dedicated role
          - Effect: Allow
            Action:
              - "*"
            Resource: "*"
    events:
      - httpApi:
          path: /api/generate
          method: POST

plugins:
  - serverless-offline
